.header {
    background-color: $white-color;
    padding: 0 40px 0 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &__logo {
        width: 165px;
        height: 50px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        max-width: 550px;
        padding: 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $main-color;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;

                &:hover {
                    color: $red-color;
                    padding-bottom: 2px;
                    border-bottom: 3px solid $red-color;
                }
            }

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .cross_burger {
        display: none;
    }

    &__burger {
        width: 35px;
        display: none;

        &-menu {
            display: none;
        }
    }

    .wrap {
        display: none;
    }
}